.root {
    width: 100%;
    padding: 0 24px;

    &.center {
        margin: auto;
    }

    &[data-size="xs"] {
        max-width: 360px;
    }

    &[data-size="sm"] {
        max-width: 800px;
    }

    &[data-size="md"] {
        max-width: 1024px;
    }

    &[data-size="lg"] {
        max-width: 1400px;
    }
}